<footer class="footer">
    
    <div class="footer__row">

        <div class="footer__row__first-column">

            <div class="footer__row__first-column__edutech">
                <div class="footer__row__first-column__edutech__rectangle">
                    <img src="assets/images/logo.png" alt="Logo">
                </div>
                <div class="footer__row__first-column__edutech__text">
                    EduTech
                </div>
            </div>

            <div class="footer__row__first-column__text">
                Educação tecnológica e capacitação qualificadora para atuação 
                da juventude com Tecnologias da Informação e Comunicação - TICS. 
            </div>

            <div class="footer__row__first-column__address">
                <img src="assets/images/icon-local.png" alt="Logo">
                <div class="footer__row__first-column__address__text">
                    Rua Leonardo Mota, 2587, Aldeota, Fortaleza-CE
                </div>
            </div>
        </div>

        <div class="footer__row__second-column">
            <div class="footer__row__second-column__title">
                Contatos
            </div>

            <div class="footer__row__second-column__list">
            
                <ul>
                    <li class="footer__email">
                       {{ 'edutech' + '@' + 'gmail.com' }}
                    </li>
                    <li class="footer__first-telephone">
                        (85) 8614-9999
                    </li>
                    <li class="footer__second-telephone">
                        (88) 99999-9999
                    </li>
                  </ul>
            </div>

        </div>

        <div class="footer__row__third-column">
            <div class="footer__row__third-column__title">
                Siga-nos
            </div>
            <div class="footer__row__third-column__social-networks">
                <img src="assets/images/networks.png" alt="Redes">
            </div>
        </div>

    </div>

    
</footer>

<div class="all-rights">
        <div class="all-rights__text">
            © 2025 EduTech. Todos os direitos reservados
        </div>
</div>