<div class="cards-container">
  <div class="card-course" (click)="navigateToDetailsCourse()">
    <div class="card-course__image">
      <img [src]="course.imageUrl" alt="Imagem do curso" />
    </div>

    <div class="card-course__details">
      <span class="card-course__details__title">
        {{ course.title }}
      </span>

      <div class="card-course__details__column">
        <div class="card-course__details__column__first-row">
          <p class="card-course__details__column__first-row__duration">
            {{ course.duration }} horas
          </p>

          <p class="card-course__details__column__first-row__availability">
            {{ course.availability }}
          </p>
        </div>

        <div class="card-course__details__column__second-row">
          <p class="card-course__details__column__second-row__rating">
            ⭐ {{ course.rating }}
          </p>

          <p class="card-course__details__column__second-row__price">
            {{ course.price ? 'Grátis' : 'Pago' }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
