.title-courses {
    margin-top: 50px;
    text-align: center;
    color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}

.courses {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  