
.banner {
  padding: 30px;
  display: flex;
  background-color: #5A049C;
 // background-image: url("/assets/images/background.png");
  background-size: cover;
  background-position: center;
  height: 600px;
}