body {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #5A049C;
    --secondary-color: #FFFFFF;
    --text-color: #FFF;
    --button-secondary-color: #bc7aef;
    --footer-final-color: #3A0B5D;
    --card-text-primary-color: #000;
    --card-text-secondary-color: #959595;
  }
  